In [2]:
from pathlib import Path
import pandas as pd

In [20]:
CLASSES = ['Healthy', 'Blockies Disease']
input_stages = {'0': 'training', '1': 'validation_nodiag', '2': 'validation_noxai'}
BASEPATH = Path('/Users/djohnson/sciebo/1. Research/1. HCXAI/1. Projects/evalxai_studies/example_validation_study')

stage ='1'
id = '12367'

resfile = BASEPATH / input_stages[stage] / 'results' / f'results_{input_stages[stage]}_{id}.csv'
resfile

PosixPath('/Users/djohnson/sciebo/1. Research/1. HCXAI/1. Projects/evalxai_studies/example_validation_study/validation_nodiag/results/results_validation_nodiag_12367.csv')

In [21]:

df = pd.read_csv(resfile)
df

                                      id  true  pred  select
0   530c9246-31e8-4fed-9192-aa0fa3017764     1     1       0
1   8e965ce6-e1fd-406b-ae1c-bc84848a27b3     1     1       1
2   a1ba56c2-c4a3-4154-a81b-c9ba105f47fc     0     0       0
3   e913fdfa-4c72-4d1b-bec6-728f7acece8b     0     0       0
4   10a24dec-c7d7-4169-9a4e-a34fcb69119b     0     0       0
5   70a47849-b4d0-43ec-b4af-1c22f6b31f27     1     1       1
6   75c4fe9d-a8d0-45cf-9796-71033e292b9b     1     1       1
7   078daae8-cf83-48b2-aedd-bd212440aa61     0     0       0
8   d3c808a5-0947-4454-ae76-c27839ea00b3     0     0       0
9   7a515406-c071-4d5c-aac0-af19ce8cb98f     0     0       0
10  b26d304b-3bc0-472c-87d2-a745f7dc1d29     1     1       1
11  e07ef965-ad5d-42fb-ab83-e1ef3e85a732     1     1       1
12  356c8c17-7c16-444a-ad9c-496397b03c28     0     1       0
13  2cfad545-d9df-4d30-8671-5a5c282f09a5     0     1       0
14  303ceae8-b57a-4541-94ef-39d5aae8178b     1     1       1
15  bab362a3-3386-49f9-b5e3-e203657fdc51     1     1       0
16  8058f4e5-22a0-48c0-8cb6-c5d62a9b27b4     1     0       0
17  d7018f57-9c6b-4bc1-aab9-15ef48090150     1     1       1
18  79f5e972-2757-4c55-a441-a70615623120     0     0       0
19  116fce59-1bf1-4c6d-8962-b379f85ee851     1     0       0
20  f2ad41b2-29f0-4dfb-ab6f-db947bafe2c2     0     1       0
21  acf68137-b6f7-4840-a6b7-fd0881817341     0     0       0
22  b0236904-789a-4380-a8d9-c99ac5ddde4a     1     1       0
23  b56beb00-3301-42d7-9aae-ba24f98ff5bd     1     0       0
24  274a5bdd-6c92-4fd5-b93f-e8843c2c2f11     0     0       0
25  4a5310d9-7318-4402-8d7c-c323c256227c     0     1       0
26  10edee9a-fac2-438b-b0f7-6cc117fe9028     1     1       1
27  1317b580-f3dc-4628-becd-4096b24ba724     1     0       1
28  22a61179-0833-49c7-ab69-96dc1ce0ee2d     1     0       0
29  88e34c51-261b-45e7-85a5-2f481d8af618     1     0       1
30  1a9807f2-f806-4e0a-b78e-e94b4e1030af     0     0       0
31  ef218701-efdf-4aaf-8170-1bf5606e25a4     0     1       0
32  bdabb7b1-10d8-44b2-820d-776febaff42f     1     1       0
33  afba37e1-a57f-4a53-a4db-1ad537d531bf     1     0       0
34  0e140205-91a5-4537-b9e6-c9c7af7e62cf     1     1       0
35  a98351ef-e358-4fbd-89ac-c1e2552c28bd     1     1       1
36  a691fa2a-4527-4b4b-822b-6f7a7f7b2a6a     0     0       0
37  19c24725-f6d0-4166-8293-642937e55cce     0     0       0
38  99c6dedb-48a5-4d7f-a438-0fb8e55874fc     0     0       0
39  cb7acd77-f7ea-44aa-819c-8bcc95c86637     1     0       0
40  53399d46-303d-4fa7-a3b6-a4238387ff45     0     1       0
41  d685ff1d-7e8f-40f2-9862-931531fbdcdb     0     0       0

In [23]:
# df.loc[8].updated - df.loc[8].accessed

In [24]:
part_acc = (df['true'] == df['select']).astype(int).mean()
model_acc = (df['true'] == df['pred']).astype(int).mean()

part_model = (df['pred'] == df['select']).astype(int).mean()

print(f'Model Acc: {model_acc}')
print(f'Part Acc: {part_acc}')
print(f'Part matches model: {part_model}')

Model Acc: 0.6666666666666666
Part Acc: 0.7380952380952381
Part matches model: 0.6904761904761905

In [25]:
agree_cond = df['pred'] == df['select']
incorrect_preds = (df['pred'] != df['true']) 
or_cond = agree_cond & incorrect_preds

overreliance = (or_cond).astype(int).sum() / (df['pred'] != df['true']).sum()
overreliance

0.42857142857142855

In [26]:
agree_cond.astype(int).sum(), incorrect_preds.astype(int).sum(), or_cond.astype(int).sum()

(29, 14, 6)

In [27]:
df[or_cond]

                                      id  true  pred  select
16  8058f4e5-22a0-48c0-8cb6-c5d62a9b27b4     1     0       0
19  116fce59-1bf1-4c6d-8962-b379f85ee851     1     0       0
23  b56beb00-3301-42d7-9aae-ba24f98ff5bd     1     0       0
28  22a61179-0833-49c7-ab69-96dc1ce0ee2d     1     0       0
33  afba37e1-a57f-4a53-a4db-1ad537d531bf     1     0       0
39  cb7acd77-f7ea-44aa-819c-8bcc95c86637     1     0       0

In [28]:
# df.to_csv('/Users/djohnson/Library/CloudStorage/GoogleDrive-fortjay81@gmail.com/My Drive/hcxai/app_results.csv')

In [29]:
r_cond = (df['pred'] == df['select'])
da_cond = ~r_cond
ar_cond = da_cond & (df['select'] == df['true'])

reliance = (r_cond).astype(int).sum() / len(df)
disagree = (ar_cond).astype(int).sum() / len(df)
app_reliance = (ar_cond).astype(int).sum() / (da_cond).astype(int).sum()

reliance, disagree, app_reliance

(0.6904761904761905, 0.19047619047619047, 0.6153846153846154)

In [31]:
df[da_cond & (df['pred'] == df['true'])]

                                      id  true  pred  select
0   530c9246-31e8-4fed-9192-aa0fa3017764     1     1       0
15  bab362a3-3386-49f9-b5e3-e203657fdc51     1     1       0
22  b0236904-789a-4380-a8d9-c99ac5ddde4a     1     1       0
32  bdabb7b1-10d8-44b2-820d-776febaff42f     1     1       0
34  0e140205-91a5-4537-b9e6-c9c7af7e62cf     1     1       0