In [2]:
from pathlib import Path
import pandas as pd

In [3]:
results_file = Path('/Users/djohnson/projects/evalxai_studies/apps/results_afd.csv')
df = pd.read_csv(results_file)
df.sample(5)

                                      id  true  pred  select
10  ff70b4d2-a056-486c-8e44-5ceefa4d113f     0     1       0
17  3a93601a-6754-4e98-abcb-7960782484bb     0     0       0
9   98d2595f-3c33-4701-afea-fff5b586127d     1     1       1
32  41002a17-0b92-4d5c-ad0e-dd6b195c397c     1     0       0
7   7b9a7adf-d9b8-412e-8836-c269cd6df127     0     1       0

In [4]:
part_acc = (df['true'] == df['select']).astype(int).mean()
model_acc = (df['true'] == df['pred']).astype(int).mean()

part_model = (df['pred'] == df['select']).astype(int).mean()

print(f'Model Acc: {model_acc}')
print(f'Part Acc: {part_acc}')
print(f'Part matches model: {part_model}')

Model Acc: 0.6666666666666666
Part Acc: 0.5277777777777778
Part matches model: 0.4166666666666667

In [5]:
or_cond = (df['pred'] == df['select']) & (df['pred'] != df['true'])
overreliance = (or_cond).astype(int).sum() / (df['pred'] != df['true']).sum()
overreliance

0.3333333333333333

In [6]:
df[or_cond]

                                      id  true  pred  select
23  5aed3aae-857b-4fde-bd39-fa7a9a784b8e     1     0       0
28  0035c5bb-5704-4a5a-9f53-dea0b9513ba6     1     0       0
32  41002a17-0b92-4d5c-ad0e-dd6b195c397c     1     0       0
33  067ddf35-4612-4d07-9339-215da1672f72     1     0       0

In [7]:
df

                                      id  true  pred  select
0   40372bed-5f97-4e10-8d20-0f1f46a4160c     0     0       0
1   f2ad41b2-29f0-4dfb-ab6f-db947bafe2c2     0     1       0
2   900bd8b3-c93d-4c39-b27c-5f50c268ce81     1     1       0
3   e50b8d09-34d4-4e48-8cd6-fa796e4e873e     1     1       0
4   0a171071-b821-4f37-8cfe-9fec6b34391a     1     0       1
5   44f80cec-6dd9-4179-8ca3-9079f0af1197     0     0       0
6   50ef96f0-13dc-40fd-864e-fb84ccb59e44     0     1       0
7   7b9a7adf-d9b8-412e-8836-c269cd6df127     0     1       0
8   bd24d25d-9619-47ad-aa50-7929742b5a10     1     1       0
9   98d2595f-3c33-4701-afea-fff5b586127d     1     1       1
10  ff70b4d2-a056-486c-8e44-5ceefa4d113f     0     1       0
11  85268050-f38c-41a7-bf0a-1b94941a1ec5     1     1       0
12  4f383912-0ee6-4bc2-a82f-4be6f9514713     0     0       0
13  ea62e53b-3060-4c01-80ba-a681afbe9884     1     1       0
14  2e646ea0-fde6-48be-b45d-36786ababfd4     1     0       1
15  0468f18c-b0d7-4fd2-b059-d407306d1515     0     0       0
16  89a1f820-9719-4085-aa1b-f058c3b3442e     1     1       0
17  3a93601a-6754-4e98-abcb-7960782484bb     0     0       0
18  ea501f43-ff31-47e4-939e-64a05101b8a5     1     1       0
19  b6b3bb3f-255c-4ae0-9af7-00cbb892ec93     0     0       1
20  357d18e9-52a7-4c39-aab6-9fe6cedd0571     0     0       0
21  e4a1da66-1223-45f8-8cc6-03ada771d835     1     1       0
22  f6e6530b-d0a4-45d2-b943-ffb6bf81fa16     1     1       0
23  5aed3aae-857b-4fde-bd39-fa7a9a784b8e     1     0       0
24  4a438be3-c76e-4a23-ac9d-7ecf94482cc6     0     0       1
25  a1e9aa2c-b84c-432a-b618-e3da8786b35f     1     1       0
26  d4e215b5-8373-4118-bc64-8a2f7872655b     0     1       0
27  768159d9-8da4-4004-8ca5-b40a0969ae53     0     0       0
28  0035c5bb-5704-4a5a-9f53-dea0b9513ba6     1     0       0
29  c8a777a2-4067-406e-a1ec-d93de720c4bc     0     0       1
30  f0b1282c-5c95-48ae-93f8-73d80dc78244     0     0       0
31  18a6b8f7-a880-4142-a463-2dc95316c3a1     0     1       0
32  41002a17-0b92-4d5c-ad0e-dd6b195c397c     1     0       0
33  067ddf35-4612-4d07-9339-215da1672f72     1     0       0
34  4b1c108d-8b62-4e1e-b774-cc923a888799     1     1       1
35  680ff6d7-2bbd-4915-92b4-7fbebb5c2798     0     0       0