In [58]:
from pathlib import Path
import pandas as pd

In [71]:
CLASSES = ['Healthy', 'Blockies Disease']
input_stages = {'0': 'training', '1': 'validation_nodiag', '2': 'validation_noxai'}
BASEPATH = Path('/Users/djohnson/sciebo/1. Research/1. HCXAI/1. Projects/evalxai_studies/example_validation_study')

stage ='2'
id = '43787'

resfile = BASEPATH / input_stages[stage] / 'results' / f'results_{input_stages[stage]}_{id}.csv'
resfile

PosixPath('/Users/djohnson/sciebo/1. Research/1. HCXAI/1. Projects/evalxai_studies/example_validation_study/validation_noxai/results/results_validation_noxai_43787.csv')

In [72]:

df = pd.read_csv(resfile)
df.sample(5)

                                      id  true  pred  select
11  dcab2c2e-9f11-49fc-9250-345ccbfbe2a3     1     0       1
37  ea501f43-ff31-47e4-939e-64a05101b8a5     1     1       1
38  680ff6d7-2bbd-4915-92b4-7fbebb5c2798     0     0       1
32  e50b8d09-34d4-4e48-8cd6-fa796e4e873e     1     1       1
13  50ef96f0-13dc-40fd-864e-fb84ccb59e44     0     1       1

In [73]:
part_acc = (df['true'] == df['select']).astype(int).mean()
model_acc = (df['true'] == df['pred']).astype(int).mean()

part_model = (df['pred'] == df['select']).astype(int).mean()

print(f'Model Acc: {model_acc}')
print(f'Part Acc: {part_acc}')
print(f'Part matches model: {part_model}')

Model Acc: 0.6666666666666666
Part Acc: 0.6666666666666666
Part matches model: 0.7142857142857143

In [74]:
or_cond = (df['pred'] == df['select']) & (df['pred'] != df['true'])
overreliance = (or_cond).astype(int).sum() / (df['pred'] != df['true']).sum()
overreliance

0.5714285714285714

In [75]:
df[or_cond]

                                      id  true  pred  select
2   0035c5bb-5704-4a5a-9f53-dea0b9513ba6     1     0       0
12  5aed3aae-857b-4fde-bd39-fa7a9a784b8e     1     0       0
13  50ef96f0-13dc-40fd-864e-fb84ccb59e44     0     1       1
14  18a6b8f7-a880-4142-a463-2dc95316c3a1     0     1       1
16  41002a17-0b92-4d5c-ad0e-dd6b195c397c     1     0       0
18  0a171071-b821-4f37-8cfe-9fec6b34391a     1     0       0
24  2e646ea0-fde6-48be-b45d-36786ababfd4     1     0       0
30  7b9a7adf-d9b8-412e-8836-c269cd6df127     0     1       1

In [65]:
# df.to_csv('/Users/djohnson/Library/CloudStorage/GoogleDrive-fortjay81@gmail.com/My Drive/hcxai/app_results.csv')

In [81]:
r_cond = (df['pred'] == df['select'])
da_cond = ~r_cond
ar_cond = da_cond & (df['select'] == df['true'])

reliance = (r_cond).astype(int).sum() / len(df)
disagree = (ar_cond).astype(int).sum() / len(df)
app_reliance = (ar_cond).astype(int).sum() / (da_cond).astype(int).sum()

reliance, disagree, app_reliance

(0.7142857142857143, 0.2857142857142857, 0.5)

In [83]:
df[da_cond]

                                      id  true  pred  select
0   ff70b4d2-a056-486c-8e44-5ceefa4d113f     0     1       0
1   89a1f820-9719-4085-aa1b-f058c3b3442e     1     1       0
10  f2ad41b2-29f0-4dfb-ab6f-db947bafe2c2     0     1       0
11  dcab2c2e-9f11-49fc-9250-345ccbfbe2a3     1     0       1
19  d4e215b5-8373-4118-bc64-8a2f7872655b     0     1       0
20  98d2595f-3c33-4701-afea-fff5b586127d     1     1       0
22  c8a777a2-4067-406e-a1ec-d93de720c4bc     0     0       1
27  3a93601a-6754-4e98-abcb-7960782484bb     0     0       1
28  03a5305d-4f64-4f9a-81da-d3da889cfd3c     1     0       1
38  680ff6d7-2bbd-4915-92b4-7fbebb5c2798     0     0       1
40  4a438be3-c76e-4a23-ac9d-7ecf94482cc6     0     0       1
41  067ddf35-4612-4d07-9339-215da1672f72     1     0       1