In [1]:
from pathlib import Path
import pandas as pd

In [31]:
CLASSES = ['Healthy', 'Blockies Disease']
input_stages = {'0': 'training', '1': 'validation_nodiag', '2': 'validation_noxai'}
BASEPATH = Path('/Users/djohnson/sciebo/1. Research/1. HCXAI/1. Projects/evalxai_studies/example_validation_study')

stage ='2'
id = 'djnew'

resfile = BASEPATH / input_stages[stage] / 'results' / f'results_{input_stages[stage]}_{id}.csv'
resfile

PosixPath('/Users/djohnson/sciebo/1. Research/1. HCXAI/1. Projects/evalxai_studies/example_validation_study/validation_noxai/results/results_validation_noxai_djnew.csv')

In [32]:

df = pd.read_csv(resfile)
df.sample(5)

                                      id  true  pred  select
30  3b2bb012-6945-47ab-b195-c782700f9618     1     1       1
37  02468b3f-1290-4631-9d5f-6507df9504fc     1     1       1
27  2756db17-141b-445b-90c1-fc08fa137612     1     0       1
15  c03747fd-712e-40aa-865b-c71dbfed09fd     0     0       0
36  01251a79-bfd4-4b1d-9db8-55228de6d67a     0     0       0

In [33]:
part_acc = (df['true'] == df['select']).astype(int).mean()
model_acc = (df['true'] == df['pred']).astype(int).mean()

part_model = (df['pred'] == df['select']).astype(int).mean()

print(f'Model Acc: {model_acc}')
print(f'Part Acc: {part_acc}')
print(f'Part matches model: {part_model}')

Model Acc: 0.6666666666666666
Part Acc: 0.7142857142857143
Part matches model: 0.8571428571428571

In [34]:
agree_cond = df['pred'] == df['select']
incorrect_preds = (df['pred'] != df['true']) 
or_cond = agree_cond & incorrect_preds

overreliance = (or_cond).astype(int).sum() / (df['pred'] != df['true']).sum()
overreliance

0.7142857142857143

In [35]:
agree_cond.astype(int).sum(), incorrect_preds.astype(int).sum(), or_cond.astype(int).sum()

(36, 14, 10)

In [36]:
df[or_cond]

                                      id  true  pred  select
0   89844e28-0486-407d-a1ec-ddd52f79e2db     1     0       0
1   55b962ad-0846-4182-8164-a4e217064022     0     1       1
8   c5af9e51-4173-4335-8959-fd374eab2016     1     0       0
9   39ec415c-2a6e-46b1-bb68-6a818fe58877     0     1       1
11  d3a5f43f-73d0-41b7-9204-1d5c36eabcd1     0     1       1
22  8ebfa9c5-06ff-490f-8386-4ab1eecb8fca     1     0       0
24  85268050-f38c-41a7-bf0a-1b94941a1ec5     1     0       0
25  6af7a6a3-f313-4a68-910b-4f906753d8df     0     1       1
34  ced98996-3624-41ba-95af-4cca24607e25     1     0       0
40  22af81db-66ec-4310-9173-aa8a6aac687d     0     1       1

In [16]:
# df.to_csv('/Users/djohnson/Library/CloudStorage/GoogleDrive-fortjay81@gmail.com/My Drive/hcxai/app_results.csv')

In [17]:
r_cond = (df['pred'] == df['select'])
da_cond = ~r_cond
ar_cond = da_cond & (df['select'] == df['true'])

reliance = (r_cond).astype(int).sum() / len(df)
disagree = (ar_cond).astype(int).sum() / len(df)
app_reliance = (ar_cond).astype(int).sum() / (da_cond).astype(int).sum()

reliance, disagree, app_reliance

(0.6666666666666666, 0.23809523809523808, 0.7142857142857143)

In [10]:
df[da_cond]

                                      id  true  pred  select
2   dd8762d4-6649-4834-96fa-2ed8a28aae4b     0     0       1
19  87556149-13c5-48a7-8ec1-3b056dbb3bac     0     1       0
21  16da59b6-09c4-4596-b021-27d858814ab1     0     1       0
27  2756db17-141b-445b-90c1-fc08fa137612     1     0       1
35  4a0ba71e-00bf-491f-a8de-f85673a3a8da     1     1       0
39  cef76c47-5bc4-4216-9adb-771a9d773a56     1     0       1